$background: #eee;
$text: #000;
$pink: #ff69b4;
$blue: #0077be;
$green: #1bbc9b;
$orange: #e87e04;

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  background-color: $background;
  color: $text;
  height: 100%;
}

div {
  display: inline-block;
  margin: 4px;
  overflow: hidden;
  padding: 8px;

  &.container,
  &.header,
  &.example {
    display: block;
  }

  &.left {
    float: left;
  }

  &.right {
    float: right;
  }

  &.string {
    background-color: $pink;
  }

  &.array {
    background-color: $blue;
  }

  &.number {
    background-color: $green;
  }

  &.boolean {
    background-color: $orange;
  }
}

