$background: #eee;
$text: #000;
$pink: #ff69b4;
$blue: #0077be;

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  background-color: $background;
  color: $text;
  height: 100%;
}

div {
  margin: 4px;
  padding: 8px;
}

.string {
  background-color: $pink;
  display: inline-block;
}

.array {
  background-color: $blue;
  display: inline-block;
}

